::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* background: #010606; */
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb-color);
  border-radius: 100vw;
  border: 2px solid var(--scroll-bar-thumb-color);
}
/* @media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vw;
    border: 2px solid white;
  }
} */
